:root{
    --White: #ffffff;
    --Eerie-black: #1a1e18;
    --White-smoke: #f4f4f4;
    --h1: 7rem;
    --h2: 54px;
    --Lp: 18px;
    --p: 16px;
    --sp: 14px
}

@font-face {
    font-family: 'Cina GEO';
    src: url('./Fonts/CinaGEO-SemiBold.eot');
    src: local('Cina GEO SemiBold'), local('CinaGEO-SemiBold'),
        url('./Fonts/CinaGEO-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/CinaGEO-SemiBold.woff2') format('woff2'),
        url('./Fonts/CinaGEO-SemiBold.woff') format('woff'),
        url('./Fonts/CinaGEO-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cina GEO';
    src: url('./Fonts/CinaGEO-ExtraBold.eot');
    src: local('Cina GEO ExtraBold'), local('CinaGEO-ExtraBold'),
        url('./Fonts/CinaGEO-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/CinaGEO-ExtraBold.woff2') format('woff2'),
        url('./Fonts/CinaGEO-ExtraBold.woff') format('woff'),
        url('./Fonts/CinaGEO-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cina GEO';
    src: url('./Fonts/CinaGEO-Regular.eot');
    src: local('Cina GEO Regular'), local('CinaGEO-Regular'),
        url('./Fonts/CinaGEO-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/CinaGEO-Regular.woff2') format('woff2'),
        url('./Fonts/CinaGEO-Regular.woff') format('woff'),
        url('./Fonts/CinaGEO-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cina GEO';
    src: url('./Fonts/CinaGEO-Black.eot');
    src: local('Cina GEO Black'), local('CinaGEO-Black'),
        url('./Fonts/CinaGEO-Black.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/CinaGEO-Black.woff2') format('woff2'),
        url('./Fonts/CinaGEO-Black.woff') format('woff'),
        url('./Fonts/CinaGEO-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cina GEO';
    src: url('./Fonts/CinaGEO-Medium.eot');
    src: local('Cina GEO Medium'), local('CinaGEO-Medium'),
        url('./Fonts/CinaGEO-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/CinaGEO-Medium.woff2') format('woff2'),
        url('./Fonts/CinaGEO-Medium.woff') format('woff'),
        url('./Fonts/CinaGEO-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cina GEO';
    src: url('CinaGEO-Light.eot');
    src: local('Cina GEO Light'), local('CinaGEO-Light'),
        url('./Fonts/CinaGEO-Light.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/CinaGEO-Light.woff2') format('woff2'),
        url('./Fonts/CinaGEO-Light.woff') format('woff'),
        url('./Fonts/CinaGEO-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cina GEO';
    src: url('CinaGEO-ExtraLight.eot');
    src: local('Cina GEO ExtraLight'), local('CinaGEO-ExtraLight'),
        url('CinaGEO-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('CinaGEO-ExtraLight.woff2') format('woff2'),
        url('CinaGEO-ExtraLight.woff') format('woff'),
        url('CinaGEO-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cina GEO';
    src: url('./Fonts/CinaGEO-Bold.eot');
    src: local('Cina GEO Bold'), local('CinaGEO-Bold'),
        url('./Fonts/CinaGEO-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/CinaGEO-Bold.woff2') format('woff2'),
        url('./Fonts/CinaGEO-Bold.woff') format('woff'),
        url('./Fonts/CinaGEO-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cina GEO';
    src: url('./Fonts/CinaGEO-Thin.eot');
    src: local('Cina GEO Thin'), local('CinaGEO-Thin'),
        url('./Fonts/CinaGEO-Thin.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/CinaGEO-Thin.woff2') format('woff2'),
        url('./Fonts/CinaGEO-Thin.woff') format('woff'),
        url('./Fonts/CinaGEO-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}



*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font: 1rem/1.6 "Cina GEO";
    /* font-family: "Cina GEO Test"; */
    background-color: var(--White);
    font-weight: 400;
}

#main{
    height: 100vh;
    /* width: 100vw; */
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 60px; */
    /* background-color: var(--White-smoke); */
}

#nav #logo{
    font-size: 1.6rem;
    font-weight: 700;
}

#nav #menu{
    display: flex;
    gap: 20px;
    font-size: var(--sp);
    
}


#hero{
    height: 100%;
    border-radius: 1rem;
    background: url("./Images/Hero-image1.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 2rem 3rem;
}

#hero h1{
    line-height: 8rem;
    font-size: var(--h1);
    font-weight: 600;
    color: var(--White)
}